body {
    text-align: center;
}
section {
    font-size: 30px;
    width: 8.8em;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
}

.letter:enabled {
    background: linear-gradient(to bottom right, greenyellow, rgba(255,255,255,0));
}

#output-container {
    height: 49px;
}


#game-board {
    font-size: 30px;
    width: 8.8em;
    display: inline-block;
    box-sizing: border-box;
}

#output {
    padding: 0 .2em 0 .3em;
    /*padding-left: .5em;
    letter-spacing: .5em;*/
    letter-spacing: .1em;
}

#output,
.letter{
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5em;
    opacity: 1;
    background: linear-gradient(to bottom right, #AAA, rgba(255,255,255,0));
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    border-radius: .2em;
    border: solid 2px #666;
    box-sizing: border-box;
}

.letter {
    margin: 0;
    width: 1.75em;
}

#output,
.active {
    background: linear-gradient(to bottom right, gold, rgba(255,255,255,0));
}

button {
    cursor: pointer;
}

.hide {
    display: none;
}

.configuration {

}

.configuration label,
.configuration input {
    font-size: .5em;
}

.configuration h2 {
    margin: 0;
    padding-right: .5em;
    box-sizing: border-box;
}

.close-view {
    box-sizing: border-box;
    margin: 0;
    padding: .2em .5em;
    border: solid 2px black;
    position: absolute;
    top: .25em;
    right: .25em;
    font-size: .75em;
    background: transparent;
}

h1 { display: none;}
