body {
    text-align: center;
    zoom: 2;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.solution

table {
    width: 100%;
}

button {
    padding: 0;
    margin: 0;
}

#game-container {
    font-size: 30px;
    width: 350px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

section {
    box-sizing: border-box;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    background: #FFF;
}

.letter:enabled {
    background: linear-gradient(to bottom right, greenyellow, rgba(255,255,255,0));
}

#output-container {
    height: 49px;
    position: relative;
}

#game-board {
    font-size: 30px;
    display: inline-block;
    box-sizing: border-box;
}

.pretty-button {
    padding: 0 .2em 0 .3em;
    /*padding-left: .5em;
    letter-spacing: .5em;*/
    letter-spacing: .1em;
}

#timeRemaining {
    position: absolute;
    left: .25em;
    top: .25em;
}

#timetable {
    margin: .5em 0;
}

#bar_remaining {
    background-color: limegreen;
}

#bar_elapsed {
    background-color: rgba(0,0,0,0.1);
}

.pretty-button,
.letter{
    display: inline-block;
    font-size: 30px;
    line-height: 45px;
    opacity: 1;
    background: linear-gradient(to bottom right, #AAA, rgba(255,255,255,0));
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    border-radius: .2em;
    border: solid 2px #666;
    box-sizing: border-box;
}

.letter {
    margin: 0;
    width: 60px;
}

.pretty-button,
.active {
    background: linear-gradient(to bottom right, gold, rgba(255,255,255,0));
}

button {
    cursor: pointer;
}

.hide {
    display: none;
}

#configuration label,
#configuration input {
    font-size: .5em;
}

h2 {
    margin: 0;
    padding-right: .5em;
    box-sizing: border-box;
    font-size:1em;
}

h2.main {
    padding: 0;
}

h2 b {
    margin: 0;
    box-sizing: border-box;
    font-size:1em;
}

.close-view {
    box-sizing: border-box;
    margin: 0;
    padding: .2em .5em;
    border: solid 2px black;
    position: absolute;
    top: .1em;
    right: .25em;
    font-size: .75em;
    background: transparent;
}

h1 { display: none;}

#not-valid,
#solution {
    text-align: left;
}

.small {
    font-size: .5em;
}

.get-definition,
.bad {
    color: black;
    font-size:.75em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 25%;
    line-height: 1.2em;
}

.bad {
    text-decoration: line-through;
}

span.pretty-button {
    font-size: 1em;
    line-height: inherit;
}

#score-container {
    position: absolute;
    right: .25em;
    top: .25em;
    font-size: .75em;
    line-height: 1.2em;
}

h3 { margin: 0}

#options,
#start,
#quit {
    font-size: .8em;
}

#options:first-letter,
#start:first-letter,
#quit:first-letter,
h2:first-letter,
.first-letter {
    font-size: 1.2em;
}